/*
Skin name: Blank
Version: 1.0.1
Author: Denis de Bernardy
Author uri: http://www.mesoconcepts.com
Description: A Starting Point for New Skins
*/

/*
#
# How to use this file
# --------------------
# - Paste a copy of this folder in the skins folder
# - Change the above details to fit your needs
# - Typically sought for classes are highlighted below
# - Uncomment relevant pieces of CSS as necessary
#
*/


/* <-- delete lines like this to uncomment chunks of code
/**/



/*
	Background, font and link colors for the entire site
	----------------------------------------------------
*/
/*
body
{
	background-color: gainsboro;
	color: black;
}

a
{
	color: blue;
}

a:hover
{
	color: firebrick;
}
/**/



/*
	Background image for the entire site (4 variations)
	---------------------------------------------------
*/
/*
body
{
	background: url(image-in-same-folder.jpg) repeat top left;
	background: url(image-in-same-folder.jpg) repeat-x top left;
	background: url(image-in-same-folder.jpg) repeat-y top left;
	background: url(image-in-same-folder.jpg) no-repeat top left;
}
/**/



/*
	Align site canvas to the left
	-----------------------------
*/
/*
.skin #ext_wrapper
{
	margin-left: 12px;
}
/**/




/*
	Border, background, font and link colors for the site canvas
	------------------------------------------------------------
*/
/*
#wrapper
{
	border: solid 1px black;
	background-color: gainsboro;
	color: black;
}

#wrapper a
{
	color: blue;
}

#wrapper a:hover
{
	color: firebrick;
}
/**/



/*
	Background image for the site canvas (4 variations)
	---------------------------------------------------
*/
/*
#wrapper
{
	background: url(image-in-same-folder.jpg) repeat top left;
	background: url(image-in-same-folder.jpg) repeat-x top left;
	background: url(image-in-same-folder.jpg) repeat-y top left;
	background: url(image-in-same-folder.jpg) no-repeat top left;
}
/**/



/*
	Shadow effect for the site canvas
	---------------------------------
*/
/*
#wrapper
{
	border: solid 1px black;
	background: url(image-in-same-folder.jpg) repeat-y;
}

#header
{
	background: url(image-in-same-folder.jpg) no-repeat;
	height: 200px;
}

#footer
{
	background: url(image-in-same-folder.jpg) no-repeat;
	height: 120px;
}

#wrapper div.pad
{
	padding-left: 10px;
	padding-right: 10px;
}
/**/



/*
	Border, background, font and link colors for the header
	-------------------------------------------------------
*/
/*
#header div.pad
{
	border: solid 1px black;
	background-color: gainsboro;
	color: black;
}

#header h1,
#header h1 a
{
	color: black;
}

#header h1 a:hover
{
	color: firebrick;
}

#header h2
{
	color: black;
}
/**/



/*
	Background image for the header (4 variations)
	----------------------------------------------

	Tip: Drop a header-background.jpg or header.swf file in your skin folder instead
*/
/*
#header div.pad
{
	background: url(image-in-same-folder.jpg) repeat top left;
	background: url(image-in-same-folder.jpg) repeat-x top left;
	background: url(image-in-same-folder.jpg) repeat-y top left;
	background: url(image-in-same-folder.jpg) no-repeat top left;
	height: 200px;
}
/**/



/*
	Offsets for the header
	----------------------
*/
/*
#header div.pad
{
	margin: 10px;
}
/**/



/*
	Aligns for the header
	---------------------
*/
/*
#header h1
{
	text-align: center;
}

#header h2
{
	text-align: center;
}
/**/



/*
	Border, background, font and link colors for the navbar
	-------------------------------------------------------
*/
/*
#navbar
{
	border: solid 1px black;
	background-color: gainsboro;
	color: black;
}

#navbar a
{
	color: blue;
}

#navbar a:hover
{
	color: firebrick;
}
/**/



/*
	Background image for the navbar (4 variations)
	----------------------------------------------
*/
/*
#navbar
{
	background: url(image-in-same-folder.jpg) repeat top left;
	background: url(image-in-same-folder.jpg) repeat-x top left;
	background: url(image-in-same-folder.jpg) repeat-y top left;
	background: url(image-in-same-folder.jpg) no-repeat top left;
}
/**/



/*
	Offset for the navbar
	---------------------
*/
/*
#navbar
{
	margin-top: 12px;
	margin-bottom: 12px;
}
/**/



/*
	Invert header nav and search form
	---------------------------------
*/
/*
#header_nav
{
	float: right;
}

#search_form
{
	float: left;
}
/**/



/*
	Center header nav and search form
	---------------------------------
*/
/*
#header_nav
{
	float: none;
	text-align: center;
}

#search_form
{
	float: none;
	text-align: center;
}
/**/



/*
	Hide the search form
	--------------------

	Tip: It will automatically hide if you use the search widget
*/
/*
#search_form
{
	display: none;
}
/**/



/*
	Border, background, font and link colors for the body area
	----------------------------------------------------------
*/
/*
#body
{
	border: solid 1px black;
	background-color: gainsboro;
	color: black;
}

#body a
{
	color: blue;
}

#body a:hover
{
	color: firebrick;
}
/**/



/*
	Background image for the body area (4 variations)
	-------------------------------------------------
*/
/*
#body
{
	background: url(image-in-same-folder.jpg) repeat top left;
	background: url(image-in-same-folder.jpg) repeat-x top left;
	background: url(image-in-same-folder.jpg) repeat-y top left;
	background: url(image-in-same-folder.jpg) no-repeat top left;
}
/**/



/*
	Offset for the body
	-------------------
*/
/*
#body
{
	margin-top: 12px;
	margin-bottom: 12px;
}
/**/



/*
	Border, background, font and link colors for the sidebars
	---------------------------------------------------------

	Tip: Resize the sidebars (see below) if border widths knock them down
*/
/*
#sidebar
{
	border: solid 1px black;
	background-color: gainsboro;
	color: black;
}

#sidebar a
{
	color: blue;
}

#sidebar a:hover
{
	color: firebrick;
}
/**/
/*
#sidebar2
{
	border: solid 1px black;
	background-color: gainsboro;
	color: black;
}

#sidebar2 a
{
	color: blue;
}

#sidebar2 a:hover
{
	color: firebrick;
}
/**/
/*
#ext_sidebar
{
	border: solid 1px black;
	background-color: gainsboro;
	color: black;
}

#ext_sidebar a
{
	color: blue;
}

#ext_sidebar a:hover
{
	color: firebrick;
}
/**/



/*
	Background image for the sidebars (4 variations)
	------------------------------------------------
*/
/*
#sidebar
{
	background: url(image-in-same-folder.jpg) repeat top left;
	background: url(image-in-same-folder.jpg) repeat-x top left;
	background: url(image-in-same-folder.jpg) repeat-y top left;
	background: url(image-in-same-folder.jpg) no-repeat top left;
}
/**/
/*
#sidebar2
{
	background: url(image-in-same-folder.jpg) repeat top left;
	background: url(image-in-same-folder.jpg) repeat-x top left;
	background: url(image-in-same-folder.jpg) repeat-y top left;
	background: url(image-in-same-folder.jpg) no-repeat top left;
}
/**/
/*
#ext_sidebar
{
	background: url(image-in-same-folder.jpg) repeat top left;
	background: url(image-in-same-folder.jpg) repeat-x top left;
	background: url(image-in-same-folder.jpg) repeat-y top left;
	background: url(image-in-same-folder.jpg) no-repeat top left;
}
/**/



/*
	Margins for the sidebar area
	----------------------------
*/
/*
#sidebar div.pad
{
	margin: 0px 0px;
	padding: 0px 0px;
}
/**/
/*
#sidebar2 div.pad
{
	margin: 0px 0px;
	padding: 0px 0px;
}
/**/
/*
#ext_sidebar div.pad
{
	margin: 0px 0px;
	padding: 0px 0px;
}
/**/



/*
	Resize the sidebars
	-------------------
*/
/*
.narrow_em #sidebar,
.narrow_me #sidebar,
.narrow_esm #sidebar,
.narrow_ems #sidebar,
.narrow_sme #sidebar,
.narrow_mse #sidebar,
.narrow_esms #sidebar,
.narrow_smse #sidebar
{
	width: 166px;
}

.wide_em #sidebar,
.wide_me #sidebar,
.wide_esm #sidebar,
.wide_ems #sidebar,
.wide_sme #sidebar,
.wide_mse #sidebar,
.wide_esms #sidebar,
.wide_smse #sidebar
{
	width: 186px;
}
/**/
/*
.narrow_em #sidebar2,
.narrow_me #sidebar2,
.narrow_esm #sidebar2,
.narrow_ems #sidebar2,
.narrow_sme #sidebar2,
.narrow_mse #sidebar2,
.narrow_esms #sidebar2,
.narrow_smse #sidebar2
{
	width: 166px;
}

.wide_em #sidebar2,
.wide_me #sidebar2,
.wide_esm #sidebar2,
.wide_ems #sidebar2,
.wide_sme #sidebar2,
.wide_mse #sidebar2,
.wide_esms #sidebar2,
.wide_smse #sidebar2
{
	width: 186px;
}
/**/
/*
.narrow_em #ext_sidebar,
.narrow_me #ext_sidebar,
.narrow_esm #ext_sidebar,
.narrow_ems #ext_sidebar,
.narrow_sme #ext_sidebar,
.narrow_mse #ext_sidebar,
.narrow_esms #ext_sidebar,
.narrow_smse #ext_sidebar
{
	width: 168px;
}

.wide_em #ext_sidebar,
.wide_me #ext_sidebar,
.wide_esm #ext_sidebar,
.wide_ems #ext_sidebar,
.wide_sme #ext_sidebar,
.wide_mse #ext_sidebar,
.wide_esms #ext_sidebar,
.wide_smse #ext_sidebar
{
	width: 188px;
}
/**/



/*
	Border, background and font color for each sidebar widget
	---------------------------------------------------------
*/
/*
#sidebar li.widget
{
	border: solid 1px black;
	background-color: gainsboro;
	color: black;
	padding: 0px 10px;
}
/**/
/*
#sidebar2 li.widget
{
	border: solid 1px black;
	background-color: gainsboro;
	color: black;
	padding: 0px 10px;
}
/**/
/*
#ext_sidebar li.widget
{
	border: solid 1px black;
	background-color: gainsboro;
	color: black;
	padding: 0px 10px;
}
/**/



/*
	Background image for each sidebar widget (4 variations)
	-------------------------------------------------------
*/
/*
#sidebar li.widget
{
	background: url(image-in-same-folder.jpg) repeat;
	background: url(image-in-same-folder.jpg) repeat-x;
	background: url(image-in-same-folder.jpg) repeat-y;
	background: url(image-in-same-folder.jpg) no-repeat;
}
/**/
/*
#sidebar2 li.widget
{
	background: url(image-in-same-folder.jpg) repeat;
	background: url(image-in-same-folder.jpg) repeat-x;
	background: url(image-in-same-folder.jpg) repeat-y;
	background: url(image-in-same-folder.jpg) no-repeat;
}
/**/
/*
#ext_sidebar li.widget
{
	background: url(image-in-same-folder.jpg) repeat;
	background: url(image-in-same-folder.jpg) repeat-x;
	background: url(image-in-same-folder.jpg) repeat-y;
	background: url(image-in-same-folder.jpg) no-repeat;
}
/**/



/*
	Margins for each sidebar widget
	-------------------------------
*/
/*
li.widget
{
	margin-top: 0px;
	margin-bottom: 12px;
}
/**/



/*
	Title style for each sidebar widget
	-----------------------------------
*/
/*
#sidebar h2
{
	text-align: center;
	color: black;
}

#sidebar h2 a
{
	color: black;
}

#sidebar h2 a:hover
{
	color: firebrick;
}
/**/
/*
#sidebar2 h2
{
	text-align: center;
	color: black;
}

#sidebar2 h2 a
{
	color: black;
}

#sidebar2 h2 a:hover
{
	color: firebrick;
}
/**/
/*
#ext_sidebar h2
{
	text-align: center;
	color: black;
}

#ext_sidebar h2 a
{
	color: black;
}

#ext_sidebar h2 a:hover
{
	color: firebrick;
}
/**/



/*
	Title bar for each sidebar widget
	---------------------------------
*/
/*
#sidebar h2
{
	border: solid 1px black;
	border-bottom: solid 1px black;
	background-color: gainsboro;
	color: black;
	margin: 0px 0px;
	padding: 2px 10px;
}

#sidebar h2 a
{
	color: black;
}

#sidebar h2 a:hover
{
	color: firebrick;
}
/**/
/*
#sidebar2 h2
{
	border: solid 1px black;
	border-bottom: solid 1px black;
	background-color: gainsboro;
	color: black;
	margin: 0px 0px;
	padding: 2px 10px;
}

#sidebar2 h2 a
{
	color: black;
}

#sidebar2 h2 a:hover
{
	color: firebrick;
}
/**/
/*
#ext_sidebar h2
{
	border: solid 1px black;
	border-bottom: solid 1px black;
	background-color: gainsboro;
	color: black;
	margin: 0px 0px;
	padding: 2px 10px;
}

#ext_sidebar h2 a
{
	color: black;
}

#ext_sidebar h2 a:hover
{
	color: firebrick;
}
/**/



/*
	Rounded boxes for each sidebar widget
	-------------------------------------
*/
/*
#sidebar li.widget
{
	background: gainsboro url(image-in-same-folder.jpg) no-repeat bottom center;
	padding-bottom: 10px;
}

#sidebar h2
{
	background: gainsboro url(image-in-same-folder.jpg) no-repeat top center;
	color: black;
	line-height: 30px;
	margin: 0px -10px;
	padding: 0px 10px;
}

#sidebar h2 a
{
	color: black;
}

#sidebar h2 a:hover
{
	color: firebrick;
}
/**/
/*
#sidebar2 li.widget
{
	background: gainsboro url(image-in-same-folder.jpg) no-repeat bottom center;
	padding-bottom: 10px;
}

#sidebar2 h2
{
	background: gainsboro url(image-in-same-folder.jpg) no-repeat top center;
	color: black;
	line-height: 30px;
	margin: 0px -10px;
	padding: 0px 10px;
}

#sidebar2 h2 a
{
	color: black;
}

#sidebar2 h2 a:hover
{
	color: firebrick;
}
/**/
/*
#ext_sidebar li.widget
{
	background: gainsboro url(image-in-same-folder.jpg) no-repeat bottom center;
	padding-bottom: 10px;
}

#ext_sidebar h2
{
	background: gainsboro url(image-in-same-folder.jpg) no-repeat top center;
	color: black;
	line-height: 30px;
	margin: 0px -10px;
	padding: 0px 10px;
}

#ext_sidebar h2 a
{
	color: black;
}

#ext_sidebar h2 a:hover
{
	color: firebrick;
}
/**/



/*
	Calendar style
	--------------
*/
/*
.widget_calendar table
{
	border: solid 1px black;
	background-color: white;
}

.widget_calendar thead th
{
	border-bottom: solid 1px black;
	background-color: gainsboro;
}

.widget_calendar tfoot td
{
	border-top: solid 1px black;
	background-color: gainsboro;
}
/**/



/*
	Border, background, font and link colors for the footer
	-------------------------------------------------------
*/
/*
#footer
{
	border: solid 1px black;
	background-color: gainsboro;
	color: black;
}

#footer a
{
	color: blue;
}

#footer a:hover
{
	color: firebrick;
}
/**/



/*
	Background image for the footer (4 variations)
	----------------------------------------------
*/
/*
#footer
{
	background: url(image-in-same-folder.jpg) repeat top left;
	background: url(image-in-same-folder.jpg) repeat-x top left;
	background: url(image-in-same-folder.jpg) repeat-y top left;
	background: url(image-in-same-folder.jpg) no-repeat top left;
}
/**/



/*
	Offset for the footer
	---------------------
*/
/*
#footer
{
	margin-top: 12px;
	margin-bottom: 12px;
}
/**/



/*
	Invert copyright notice and footer nav
	--------------------------------------
*/
/*
#footer_nav
{
	float: left;
}

#copyright_notice
{
	float: right;
}
/**/



/*
	Center copyright notice and footer nav
	--------------------------------------
*/
/*
#footer_nav
{
	float: none;
	text-align: center;
}

#copyright_notice
{
	float: none;
	text-align: center;
}
/**/



/*
	Border, background and font color for the main area
	---------------------------------------------------
*/
/*
#main
{
	border: solid 1px black;
	background-color: gainsboro;
	color: black;
}
/**/



/*
	Background image for the main area (4 variations)
	-------------------------------------------------
*/
/*
#main
{
	background: url(image-in-same-folder.jpg) repeat top left;
	background: url(image-in-same-folder.jpg) repeat-x top left;
	background: url(image-in-same-folder.jpg) repeat-y top left;
	background: url(image-in-same-folder.jpg) no-repeat top left;
}
/**/



/*
	Margins for the main area
	-------------------------
*/
/*
#main div.pad
{
	margin: 0px 0px;
	padding: 0px 0px;
}
/**/



/*
	Border, background, font and link colors for each entry
	-------------------------------------------------------
*/
/*
div.entry
{
	border: solid 1px black;
	background-color: gainsboro;
	color: black;
	padding: 0px 10px;
}

.entry a
{
	color: blue;
}

.entry a:hover
{
	color: firebrick;
}
/**/



/*
	Background image for each entry (4 variations)
	----------------------------------------------
*/
/*
.entry
{
	background: url(image-in-same-folder.jpg) repeat top left;
	background: url(image-in-same-folder.jpg) repeat-x top left;
	background: url(image-in-same-folder.jpg) repeat-y top left;
	background: url(image-in-same-folder.jpg) no-repeat top left;
}
/**/



/*
	Margins for each entry
	----------------------
*/
/*
div.entry
{
	margin-top: 0px;
	margin-bottom: 12px;
}
/**/



/*
	Title style for each entry
	--------------------------
*/
/*
.entry_header h2
{
	text-align: center;
	color: black;
}

.entry_header h1
{
	text-align: center;
	color: black;
}

.entry_header h1 a
{
	color: black;
}

.entry_header h1 a:hover
{
	color: firebrick;
}
/**/



/*
	Title bar for each entry
	------------------------
*/
/*
.entry_header h1
{
	border: solid 1px black;
	border-bottom: solid 1px black;
	background-color: gainsboro;
	color: black;
	margin: 0px 0px;
	padding: 2px 10px;
}

.entry_header h1 a
{
	color: black;
}

.entry_header h1 a:hover
{
	color: firebrick;
}
/**/



/*
	Rounded boxes for each entry
	----------------------------
*/
/*
div.entry_header
{
	background: gainsboro url(image-in-same-folder.jpg) no-repeat top center;
	color: black;
	height: 50px;
	margin: 0px;
	padding: 0px 10px;
}

.entry_header h1,
.entry_header h2,
.entry_author
{
	margin-top: 0px;
	margin-bottom: 0px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.entry_header h1 a
{
	color: black;
}

.entry_header h1 a:hover
{
	color: firebrick;
}

div.entry
{
	padding-top: 0px;
	padding-bottom: 20px;
	background: gainsboro url(image-in-same-folder.jpg) no-repeat bottom center;
}

.entry_content,
.entry_meta,
.bookmark_me,
.entry_related_searches,
.entry_related_tags,
.entry_related_entries,
.entry_nav,
.entry_follow_ups,
.entry_trackback_uri,
.entry_actions,
div.comments,
div.comment_form
{
	margin-left: 10px;
	margin-right: 10px;
}
/**/



/*
	Actions for each entry and comment
	----------------------------------
*/
/*
.entry_actions,
.comment_actions
{
	border-top: solid 1px gainsboro;
	padding-top: 1px;
}
/**/



