/*
Skin name: Bankers Hours
Version: 1.0.1
Author: Techie Coach
Author uri: http://www.techiecoachtutorials.com
Description: Grey flannel Suit
*/

/*
	Background, font and link colors for the entire site
	----------------------------------------------------
*/

body
{
	background-color: #DCD9D0;
	color: #060C24;
}


a:link, a:visited
{
	color: /*#837680*/ #5E757D;
}

a:active, a:hover
{
	color: /*#5E757D*/ #837680;
}


/*
	Border, background, font and link colors for the site canvas
	------------------------------------------------------------
*/

#wrapper
{
	border: solid 1px #c1c1c1;
	background-color: #fff;
	color: black;
}

/*
	Border, background, font and link colors for the header
	-------------------------------------------------------
*/

#header div.pad
{
	background-color: #DCD9D0;
	background: url(headerbg.png) repeat-x top left;
	color: black;
	text-align: left;
}

.skin #header h1,
#header h1 a
{
	color: #5E757D;
	font-size:36px;
}

#header h1 a:hover
{
	color: #837680;
}

#header h2
{
	color: #5E757D;
}

/*
	Offsets for the header
	----------------------
*/

#header div.pad
{
	padding: 0px;
}


/*
	Aligns for the header
	---------------------
*/

#header h1
{
	padding-bottom: 20px;
	text-align: left;
}


#header h2
{
	text-align: right;
}



/*
	Border, background, font and link colors for the navbar
	-------------------------------------------------------
*/

#navbar
{
	background-color: #5E757D;
	color: white;
}

#navbar a
{
	color: white;
	text-decoration: none
}

#navbar a:hover
{
	text-decoration: underline
}
	
/*
	Offset for the navbar
	---------------------
*/

#navbar
{
	padding-top: 6px;
	padding-bottom: 3px;
	padding-left: 20px;
	padding-right: 20px;
}
/**/

/* 
	Float Left Icons for each sidebar widget
	-----------------------------------------
*/

#sidebar .widget li, 
#sidebar2 .widget li,
#ext_sidebar .widget li 
{
	list-style-image: url(li-icon.gif);
}
/*
	Calendar style
	--------------
*/

.widget_calendar table
{
	border: solid 1px #c1c1c1;
	background-color: white;
}

.widget_calendar thead th
{
	border-bottom: solid 1px #c1c1c1;
	background-color: #DCD9D0;
}

.widget_calendar tfoot td
{
	background-color: white;
}

/*
	Border, background, font and link colors for the footer
	-------------------------------------------------------
*/

#footer
{
	border-top: solid 1px #c1c1c1;
	background-color: #5E757D;
	color: #FFFFFF;
}

#footer a
{
	color: #FFFFFF;
	font-weight:bold;
	text-decoration: none;
}

#footer a:hover
{
	color: #FFFFFF;
	font-weight:bold;
	text-decoration: underline;
}


/*
	Offset for the footer
	---------------------
*/
#footer
{
	padding-top: 6px;
	padding-bottom: 3px;
	padding-left: 20px;
	padding-right: 20px;
}

/*
	Margins for the main area
	-------------------------
*/
#main div.pad
{
	margin: 10px 10px;
	padding: 0px 0px;
}

/*
	Border, background, font and link colors for each entry
	-------------------------------------------------------
*/
div.entry
{
	border-bottom: solid 1px #c1c1c1;
	color: black;
	padding: 0px 20px 20px 20px;
}


/*
Blockquote new graphic
-------------------------
*/

blockquote 
{
/*	margin: 0 20px;
	padding: 2px 20px;
    background-color: #E7E9DC;
    background-image: none;
*/
 	background:#E7E9DC url(blockquote.gif) no-repeat scroll 6px;
}